{% extends "base.html" %}

{% block content %}
<h1>Register form</h1>
<div>
    <form class="login_form" method="post">
        <div class="form-group">
            <label for="about">Login / Email</label>
            <textarea class="form-control" id="about1" rows="1" name="login"></textarea>
        </div>
        <div class="form-group">
            <label for="about">Password</label>
            <textarea class="form-control" id="about2" rows="1" name="password"></textarea>
        </div>
        <div class="form-group">
            <label for="about">Repeat password</label>
            <textarea class="form-control" id="about3" rows="1" name="repeat"></textarea>
        </div>
        <div class="form-group">
            <label for="about">Surname</label>
            <textarea class="form-control" id="about4" rows="1" name="surname"></textarea>
        </div>
        <div class="form-group">
            <label for="about">Name</label>
            <textarea class="form-control" id="about5" rows="1" name="name"></textarea>
        </div>
        <div class="form-group">
            <label for="about">Age</label>
            <textarea class="form-control" id="about6" rows="1" name="age"></textarea>
        </div>
        <div class="form-group">
            <label for="about">Position</label>
            <textarea class="form-control" id="about7" rows="1" name="position"></textarea>
        </div>
        <div class="form-group">
            <label for="about">Speciality</label>
            <textarea class="form-control" id="about8" rows="1" name="speciality"></textarea>
        </div>
        <div class="form-group">
            <label for="about">Address</label>
            <textarea class="form-control" id="about9" rows="1" name="address"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Записаться</button>
    </form>
</div>
{% endblock %}